openapi: "3.0.1"
info:
  title: HealthQ Copilot API
  version: "1.0.0"
  description: Healthcare AI Platform API Gateway
servers:
  - url: https://healthq-copilot-apim.azure-api.net
paths:
  /api/v1/agents/guide/chat:
    post:
      operationId: GuideChat
      summary: Send a message to the HealthQ Copilot platform guide agent
      tags: [Platform Guide]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                sessionId:
                  type: string
                  format: uuid
              required: [message]
      responses:
        "200":
          description: Guide response
  /api/v1/agents/guide/suggestions:
    get:
      operationId: GuideSuggestions
      summary: Get contextual suggestions for the platform guide
      tags: [Platform Guide]
      responses:
        "200":
          description: List of suggestions
  /api/v1/agents/triage:
    post:
      operationId: StartTriage
      summary: Start AI triage workflow
      tags: [Agents]
      responses:
        "201":
          description: Triage workflow created
    get:
      operationId: ListTriageWorkflows
      summary: List recent triage workflows
      tags: [Agents]
      parameters:
        - name: top
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: List of triage workflows
  /api/v1/agents/stats:
    get:
      operationId: GetAgentStats
      summary: Get agent aggregate statistics (triage counts, escalation rates)
      tags: [Agents]
      responses:
        "200":
          description: Agent stats
  /api/v1/voice/sessions:
    post:
      operationId: CreateVoiceSession
      summary: Start a new voice intake session
      tags: [Voice]
      responses:
        "201":
          description: Voice session created
  /api/v1/scheduling/slots:
    get:
      operationId: GetAvailableSlots
      summary: Get available appointment slots
      tags: [Scheduling]
      parameters:
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Available slots
  /api/v1/scheduling/stats:
    get:
      operationId: GetSchedulingStats
      summary: Get scheduling aggregate statistics
      tags: [Scheduling]
      responses:
        "200":
          description: Scheduling stats
  /api/v1/scheduling/bookings:
    post:
      operationId: CreateBooking
      summary: Create a booking
      tags: [Scheduling]
      responses:
        "201":
          description: Booking created
  /api/v1/revenue/coding-jobs:
    get:
      operationId: ListCodingJobs
      summary: List coding jobs
      tags: [Revenue Cycle]
      responses:
        "200":
          description: Coding jobs list
  /api/v1/revenue/prior-auths:
    get:
      operationId: ListPriorAuths
      summary: List prior authorizations
      tags: [Revenue Cycle]
      responses:
        "200":
          description: Prior auth list
  /api/v1/revenue/stats:
    get:
      operationId: GetRevenueStats
      summary: Get revenue cycle aggregate statistics (coding jobs, prior-auth approval rates)
      tags: [Revenue Cycle]
      responses:
        "200":
          description: Revenue stats
  /api/v1/population-health/risks:
    get:
      operationId: GetPatientRisks
      summary: Get patient risk assessments
      tags: [Population Health]
      parameters:
        - name: top
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: riskLevel
          in: query
          required: false
          schema:
            type: string
            enum: [Critical, High, Medium, Low]
      responses:
        "200":
          description: Patient risks
  /api/v1/population-health/stats:
    get:
      operationId: GetPopHealthStats
      summary: Get population health aggregate statistics
      tags: [Population Health]
      responses:
        "200":
          description: Population health stats
  /api/v1/population-health/risks/calculate:
    post:
      operationId: CalculatePatientRisk
      summary: Trigger on-demand risk score calculation for a patient
      tags: [Population Health]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                patientId:
                  type: string
                  format: uuid
              required: [patientId]
      responses:
        "200":
          description: Calculated risk score
  /api/v1/population-health/care-gaps:
    get:
      operationId: GetCareGaps
      summary: Get care gaps
      tags: [Population Health]
      responses:
        "200":
          description: Care gaps
  /api/v1/identity/users:
    post:
      operationId: CreateUser
      summary: Create user account
      tags: [Identity]
      responses:
        "201":
          description: User created
  /api/v1/fhir/patients:
    get:
      operationId: SearchPatients
      summary: Search FHIR patients
      tags: [FHIR]
      responses:
        "200":
          description: FHIR patient bundle
    post:
      operationId: CreateFhirPatient
      summary: Create a FHIR Patient resource
      tags: [FHIR]
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
      responses:
        "201":
          description: Patient created
  /api/v1/fhir/patients/{id}:
    put:
      operationId: UpdateFhirPatient
      summary: Update a FHIR Patient resource
      tags: [FHIR]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
      responses:
        "200":
          description: Patient updated
  /api/v1/fhir/encounters:
    get:
      operationId: SearchEncounters
      summary: Search FHIR Encounter resources
      tags: [FHIR]
      responses:
        "200":
          description: FHIR Encounter bundle
    post:
      operationId: CreateFhirEncounter
      summary: Create a FHIR Encounter resource
      tags: [FHIR]
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
      responses:
        "201":
          description: Encounter created
  /api/v1/fhir/encounters/{id}:
    put:
      operationId: UpdateFhirEncounter
      summary: Update a FHIR Encounter resource
      tags: [FHIR]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
      responses:
        "200":
          description: Encounter updated
  /api/v1/fhir/metadata:
    get:
      operationId: GetFhirMetadata
      summary: FHIR server capability statement (SMART on FHIR)
      tags: [FHIR]
      responses:
        "200":
          description: FHIR CapabilityStatement
  /.well-known/smart-configuration:
    get:
      operationId: GetSmartConfiguration
      summary: SMART on FHIR discovery endpoint
      tags: [FHIR]
      responses:
        "200":
          description: SMART configuration JSON
  /.well-known/openid-configuration:
    get:
      operationId: GetOpenIdConfiguration
      summary: OpenID Connect discovery endpoint
      tags: [FHIR]
      responses:
        "200":
          description: OpenID Connect configuration JSON
  /api/v1/identity/patients/register:
    post:
      operationId: RegisterPatient
      summary: Register a new patient account
      tags: [Identity]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                  format: email
                dateOfBirth:
                  type: string
                  format: date
              required: [firstName, lastName, email, dateOfBirth]
      responses:
        "201":
          description: Patient account created
  /api/v1/identity/patients/me:
    get:
      operationId: GetMyPatientProfile
      summary: Get the authenticated patient's own profile
      tags: [Identity]
      responses:
        "200":
          description: Patient profile
  /api/v1/voice/sessions/{id}/audio-chunk:
    post:
      operationId: UploadAudioChunk
      summary: Upload a streaming audio chunk for an active voice session
      tags: [Voice]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "202":
          description: Chunk accepted
  /api/v1/notifications/push-subscriptions:
    post:
      operationId: CreatePushSubscription
      summary: Subscribe to web push notifications
      tags: [Notifications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                endpoint:
                  type: string
                p256dh:
                  type: string
                auth:
                  type: string
              required: [endpoint, p256dh, auth]
      responses:
        "201":
          description: Subscription created
    delete:
      operationId: DeletePushSubscription
      summary: Unsubscribe from web push notifications
      tags: [Notifications]
      responses:
        "204":
          description: Subscription removed
  /api/v1/notifications/messages:
    get:
      operationId: GetNotificationMessages
      summary: List notification messages for the authenticated patient
      tags: [Notifications]
      parameters:
        - name: patientId
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: List of notification messages
  /api/v1/agents/escalations:
    get:
      operationId: ListEscalations
      summary: List HITL escalation queue items
      tags: [Agents]
      responses:
        "200":
          description: Escalation queue items
    post:
      operationId: CreateEscalation
      summary: Manually create an escalation queue item
      tags: [Agents]
      responses:
        "201":
          description: Escalation created
  /api/v1/agents/escalations/{id}/resolve:
    post:
      operationId: ResolveEscalation
      summary: Resolve an escalation queue item
      tags: [Agents]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Escalation resolved
  /api/v1/agents/demo/start:
    post:
      operationId: StartDemo
      summary: Start a new interactive demo session (no auth required)
      tags: [Demo]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clientName:
                  type: string
                company:
                  type: string
                email:
                  type: string
                  format: email
              required: [clientName, company]
      responses:
        "201":
          description: Demo session created
  /api/v1/agents/demo/{id}/next:
    post:
      operationId: AdvanceDemoStep
      summary: Advance to the next demo step
      tags: [Demo]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Next step result
  /api/v1/agents/demo/{id}/feedback:
    post:
      operationId: SubmitStepFeedback
      summary: Submit feedback for a demo step
      tags: [Demo]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Feedback recorded
  /api/v1/agents/demo/{id}/complete:
    post:
      operationId: CompleteDemo
      summary: Complete the demo with overall feedback
      tags: [Demo]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Demo completed
  /api/v1/agents/demo/{id}/status:
    get:
      operationId: GetDemoStatus
      summary: Get current demo session status and progress
      tags: [Demo]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Session status
  /api/v1/agents/demo/sessions:
    get:
      operationId: GetDemoSessions
      summary: List all demo sessions (admin only)
      tags: [Demo Admin]
      responses:
        "200":
          description: Demo sessions list
  /api/v1/agents/demo/insights:
    post:
      operationId: GenerateDemoInsights
      summary: Generate AI-aggregated insights from demo feedback (admin only)
      tags: [Demo Admin]
      responses:
        "200":
          description: Demo insights
